body {
  background:lightgray
}

div.blog {
  padding: 10px 20%;
  text-align: left;
}

#hello {
	padding: 10px 20%;
	text-align: center;
}



/* Navbar */
.active {
	background-color: #098859;
}

ul.contact {
	list-style-type: none;
	margin: 0;
	padding-inline-start: 0;
}

li.contact {
	display: inline;
}

li a.contact {
	color: black;
	display: inline;
}

li a:hover.contact {
	background-color: lightgray;
}

ul.bar {
	list-style-type: none;
	margin: 0% 20%;
	padding: 0;
	overflow: hidden;
	background-color: rgb(51, 51, 51);
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
	z-index: 1;
}


li.bar {
	float: left;
}


/* Two columns */
.row {
	display: flex;
}
  
.column {
	flex: 50%;
	padding: 0 10px;
}

.column a {
	border: 1px solid black;
	margin-top: 1px;
}

div.port {
	margin: 10px 20%;
	text-align: center;
}

.portfolio {
	background-size: cover;
	background-position: center;
	width: 315px;
	height: 250px;
	background-repeat: no-repeat;
	border: solid black 5px;
	margin: 12px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.pixel {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	border: none;
	background-size: contain;
}



div.skinny {
	width: 250px;
	height: 250px;
}

.port a {
	text-decoration: none;
}

.portfolio .bl, .portfolio .tr, .portfolio .tr2, .portfolio .br, .portfolio .tl {
	position: absolute;
	color: black;
	background-color: white;
	margin: 5px;
	font-size: large;
	border: 1px black solid;
}

.portfolio .bl {
	bottom: 0;
	left: 0;
}

.portfolio .tr {
	top: 0;
	right: 0;
}

.portfolio .tr2 {
	top: 20%;
	right: 5px;
}

.portfolio .tl {
	top: 0;
	left: 0;
}

.portfolio .br {
	bottom: 0;
	right: 0;
}

.portfolio .centered {
	position: absolute;
	color: black;
	margin: 5px;
	font-size: 2em;
	top: 50%;
	width: 96%;
	left: 0;
}

.visible-md {
	display: block;
}

.visible-xs {
	display: none;
}

.visible-xxs {
	display: none;
}

/* Mobile */
@media (max-width: 767px) {
	div.blog, #hello{
		padding: 5px 10%;
	}

	div.port {
		margin: 5px 10%;
	}

	ul.bar {	
	margin: 0 10%;
	}

	.row {
		display: inline;
	}

	.visible-md {
		display: none;
	}

	.visible-xs {
		display: block;
	}
}

/* XS Mobile */
@media (max-width: 576px) {
	div.port {
		margin: 0;
	}
	.visible-xs {
		display: none;
	}
	.visible-xxs {
		display: block;
	}
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: rgb(17, 17, 17);
}

h1 {
	padding: 10px 20% 0px 20%;
	text-align: center;
}

img.port {
	height: 250px;
	width: 315px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	border: 5px black solid;
	margin: 5px;
}

img.mc {
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	border: 5px black solid;
	margin: 5px;
}

span.port {
	position: relative;
	text-align: center;
}

.bottom-left {
	position: absolute;
	bottom: 16px;
	left: 14px;
	font-size: large;
	background-color: white;
	margin: 0;
}

.top-right {
	position: absolute;
	bottom: 220px;
	right: 14px;
	font-size: large;
	background-color: white;
}

.mid {
	position: absolute;
	bottom: 30px;
	right: 90px;
	font-size: large;
	background-color: white;
}

/* New Middleworld Multiverse */
.mw-logo {
	text-align: center;
	vertical-align: middle;
	border: black 5px solid;
	box-sizing: border-box;
	margin: 10em 40% 20px 40%;

}

table.mw {
	margin: 20%;
}

table.mw td {
	padding: 10px;
}

.reality {
	float: left;
	
	text-align: center;
	vertical-align: middle;
	border: black 5px solid;
	box-sizing: border-box;
	
	font-size: 1.5em;
	margin: 10em 40% 20px 40%;
	
	padding: 2em 0px 2em 0px;
}

.mw-logo > a {
	text-decoration: none;
	color: black;
	display: block;
	box-sizing: border-box;
	font-size: 2em;
	padding: 2em 0px 2em 0px;
}


/*Pixel Art Showcase*/

span.port2 {
	display: flex; 
    justify-content: center;
	float: left;
}

.mid2 {
	position: relative;
	font-size: large;
	text-align:center;
}

.mid3 {
	position: absolute;
	bottom: 60px;
	right: 140px;
	font-size: large;
}

div.pixelart {
	padding: 10px 10% 0px 10%;
	text-align: center;
}

img.pixel {
	width: 400px;
	height: 200px;
	object-fit: contain;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}


.big {
	font-size: x-large;
}



/* Nice button */
li a.btn, a.btn {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	background-color: #98a1b1;
	border-radius: 3px;
	padding: 14px 16px;
}

li a.btn:hover, a.btn:hover {
	background-color: #a0aab2;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

div.mv {
	display: inline-block;
	color: black;
	background-color: gray;
	text-align: center;
	vertical-align: top;
	border-style: solid;
	border-radius: 20px;
	padding: 10px;
	height: 350px;
	width: 350px;
	box-sizing: content-box;
	margin: 1px;
	margin-top: 4px;
}

div.mv a {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	padding: 10px;
	border-width: 2px;
	margin: 2px
}

div.mv > .maybe {
	border-style: dotted;
}

div.mv > .connection {
	font-style: italic;
}

div.mv > .main {
	font-size: 125%;
}

.game {
	background-color: rgb(0, 255, 0);
}

.game:hover {
	background-color: rgb(0, 155, 0);
	color:white;
}

.story {
	background-color: rgb(255, 60, 60);
}

.story:hover {
	background-color: rgb(145, 0, 0);
	color:white;
}

.if {
	background-color: rgb(0, 140, 255);
}

.if:hover {
	background-color: rgb(0, 97, 177);
	color:white;
}

.rpg {
	background-color: rgb(255, 208, 0);
}

.rpg:hover {
	background-color: rgb(172, 140, 0);
	color:white;
}

.other {
	background-color: rgb(250, 235, 215);
}

.other:hover {
	background-color: rgb(194, 181, 165);
	color: white;
}